body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #399c3e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

button:hover {
    background-color: #115a15;
    transform: scale(
      1.1
    ); 
}

button:focus {
    outline: none;
}

#value {
    font-size: 24px;
    width: 50px;
    text-align: center;
}
